{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="title">Login</h1>
    </div>
    <div class="row align-middle">
        <div class="col-12">
            <form id="loginForm" class="loginForm" method="POST" action={{ url_for('validate_credentials') }}>
                <div class="form-group">

                    <label for="login">Login</label>
                    <input id="login" class="form-control" type="text" placeholder="janKowalski123" name="login">

                    <label for="password">Password</label>
                    <input id="password" class="form-control" type="password" placeholder="password" name="password">

                </div>
                <input class="btn btn-primary" type="submit">
            </form>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}